<header class="header">
    <div class="container header-content">
        <a routerLink="/" class="logo">
            The <span class="highlight">Fullstack</span>
        </a>
        <nav class="nav">
            <ul>
                <li><a routerLink="/learn">Learn</a></li>
                <!-- <li><a routerLink="/" fragment="prove">Prove</a></li> -->
                <li><a routerLink="/hire">Hire</a></li>
                <li><a routerLink="/" fragment="work">Work</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <button class="btn btn-secondary" (click)="openLoginModal()">Login</button>
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
    <app-login *ngIf="showLoginModal" (close)="closeLoginModal()"></app-login>
</header>